<section class="contact-section">
  <div class="contact">
    <h1>Contact</h1>
    <p class="text">
      Hey, I'm here to help you plan a TOM in your hometown. Fill in your contact information below and we'll get started!
    </p>
    <div class="help">
      <img src="http://static1.squarespace.com/static/56d2f7d71bbee09a4bcca663/t/56d56e2959827ec2fa189e71/1457361908830/?format=300w" />
      <div class="details">
        <div>Name: Michal Kabatznik</div>
        <div>Email: <a href="mailto:Michal@tomglobal.org?Subject=Query" target="_blank">Michal@tomglobal.org</a></div>
        <div>Phone: Michal's phone</div>
      </div>
    </div>
  </div>
</section>



