<section class="download-section">
  <div>
    <h1>Download</h1>
    <div class="download-book">
      <a href="https://bookoftom.gitbooks.io/the-little-book-of-tom/content/" target="_blank">
        <img src="modules/core/client/img/tom-book.jpg" />
      </a>
      <div>Yon can press the book to read it online on gitbook.com</div>
      <div>
        <a href="https://www.gitbook.com/download/pdf/book/bookoftom/the-little-book-of-tom" target="_blank">
          Or you can download it as a pdf from this link</a>
      </div>

    </div>
  </div>
</section>



