<section class="upcoming-makeathons">
  <div class="main-header">
    <h2>Upcoming Makeathons</h2>
  </div>
  <table class="table table-hover table-responsive text-center">
    <thead>
    <tr>
      <th class="text-center" ng-repeat="header in vm.tableHeaders">{{header}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="makeathonRow" ng-repeat-start="makeathon in vm.makeathons">
      <td class="uppercase" ng-click="vm.goToState(makeathon)">{{makeathon.name}}</td>
      <td ng-click="vm.goToState(makeathon)">{{makeathon.venue}}</td>
      <td ng-click="vm.goToState(makeathon)">{{makeathon.startDate | date:'fullDate'}}</td>
      <td ng-click="vm.goToState(makeathon)">{{makeathon.regDeadline}}</td>
      <td>
        <a class="btn btn-primary" data-ui-sref="applications.create({ makeathonId: makeathon._id })">Apply for TOM</a>
        <a class="btn btn-primary" data-ui-sref="challenges.create({ makeathonId: makeathon._id })">Share a Challenge</a>
      </td>
    </tr>
    <tr ng-repeat-end class="text-left" ng-if="vm.isAllow(makeathon)">
      <td colspan="6">
        <a data-ui-sref="applications.list({ makeathonId: makeathon._id })">View Applications</a>
        <span> | </span>
        <a data-ui-sref="challenges.list({ makeathonId: makeathon._id })">View Challenges</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="alert alert-warning text-center" data-ng-if="vm.makeathons.$resolved && !vm.makeathons.length">
    No Makeathons yet.
  </div>
</section>
