// Core section
$color-bg: rgba(255, 255, 255, 0.2);
$color-main-font: #000000;
$color_header-bg: #1976D2;
$color_header-a: #ffffff;
$color-bg-banner: #000000;
$color-font-banner: #ffffff;

// Makeathon section
$color-main-header-border: #eeeeee;
$color-datepicker-btn: #ffffff;
$color-select-disabled: rgb(235, 235, 228);
$color-bg-remove-btn: #C76868;
$color-font-remove-btn: #ffffff;
$color-bg-editor: #F0F0F0;
$color-border-editor: #eeeeee;
$color-box-editor: #ffffff;
$color-input-readonly: #ffffff;


// Forms section
$color_h2: #1e7698;
$color_asterisk: red;
$color_btn_a: #353535;
$color_btn_border: #CCCCCC;
$color_btn_a_hover: #ffffff;
$color_btn_bg_hover: #888888;
$color_success: green;
$color_jumborder: #474747;
$color_bg_user_profile: #EEEEEE;

// Wiki section
$color-markdown-font: #333333;
$color-bg-hr: #e7e7e7;
$color-h6: #777777;
$color-table-border: #dddddd;
$color-table-border-top: #cccccc;
$color-table-bg1: #ffffff;
$color-table-bg2: #f8f8f8;
$color-blockquote-font: #858585;
$color-blockquote-border: #e5e5e5;

// User section
$color-btn-file: #ffffff;

//fonts
$font_0: Open Sans;
$font_1: Arial;
$font_2: sans-serif;
